<dom-module id="khn-alert">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <template>
        <div class$="alert alert-[[type]] alert-dismissible fade show" style="margin-top:20px;" role="alert" id="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" on-click="close">&times;</span>
            </button>
            <h4 class="alert-heading">[[title]]</h4>
            <div inner-h-t-m-l="{{content}}"></div>
        </div>
    </template>
    <script>
        class KHN_Alert extends KPolymer {
            static get is() { return 'khn-alert'; }

            configFromResponse(response){
                this.type = (response.status=='OK')?'primary':'danger';
                this.title = response.status;
                this.content = response.msg;
            }

            close(){
                this.$.alert.style.display = "none";
            }
        }
        window.customElements.define(KHN_Alert.is, KHN_Alert);
    </script>
</dom-module>