<dom-module id="khn-card">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <template>
        <style>
            .card-header{
                font-weight: bold;
            }
            .card-body{
                padding: 0px;
            }
        </style>
        <div class$="card [[textColor]] [[classBg]]" >
            <div class="card-header hidden">[[header]]</div>
            <div class="card-body">
                <template is="dom-if" if="{{title}}">
                    <h4 class="card-title">[[title]]</h4>
                </template>
                <p class="card-text">
                    <slot name="content"></slot>
                </p>
            </div>
        </div>
    </template>
    <script>
        class KHN_Card extends KPolymer {
            static get is() { return 'khn-card'; }
            static get properties() {
                return {
                    header: String,
                    title: String,
                    text: String,
                    background:String,
                    classBg:{
                        type:String,
                        computed: 'getBg(background)'
                    },
                    textColor:{
                        type:String,
                        computed: 'getTextColor()'
                    }
                }
            }

            getTextColor(){
                if(this.background){
                    return 'text-white';
                }
                return '';
            }
        }
        window.customElements.define(KHN_Card.is, KHN_Card);
    </script>
</dom-module>