<dom-module id="khn-datepicker">
    <link rel="import" type="css" href="/static/css/app.css">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="import" type="css" href="/static/lib/css/ionicons.min.css">
    <link rel="import" type="css" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <template>
        <style>
            .datepicker-container{
                position: relative;
            }

            #calendar{
                z-index: 100;
                position:absolute;
                top:0px;
                left: 0px;
                width: 100%;
                background-color: yellow;
            }

            .day{
                text-align: right;
                font-size: 10px;
                padding:3px;
                border-radius: 3px;
            }
            .day:hover{
                background-color: #e9ecef;
            }

            .card{
                padding: 5px;
            }

            th{
                font-size: 11px;
                text-align: center;
            }
            .not-current-month{
                color: lightgray;
            }
            .calendar-header{
                font-size: 12px;
                text-align: center;
            }
            .current-date{
                background-color: #337ab7;
                color:#FFFFFF;

                font-weight: bold;
            }

            #datepicker{
                padding: 0 5px 0 5px;
                font-size: 12px;
            }

        </style>
        <div class="datepicker-container">
            <div class="input-group date">
                <input type="text" class="form-control" id="datepicker" value="{{formatDate(date)}}" on-keypress="saveOnReturn">
                <div class="input-group-addon link" on-click="showCalendar">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div id="calendar" class="hidden">
                    <div class="card">
                        <table width="100%">
                            <tr class="calendar-header">
                                <th class="link" > <i class="fa fa-chevron-left" aria-hidden="true" on-click="goToYear" data-next-year="-1"></i> </th>
                                <th colspan="5">{{currentCalendarYear}}</th>
                                <th class="link" > <i class="fa fa-chevron-right" aria-hidden="true" on-click="goToYear" data-next-year="1"></i> </th>
                            </tr>
                            <tr class="calendar-header">
                                <th class="link" > <i class="fa fa-chevron-left" aria-hidden="true" on-click="goToMonth" data-next-month="-1"></i> </th>
                                <th colspan="5">{{currentCalendarMonthName}}</th>
                                <th class="link" > <i class="fa fa-chevron-right" aria-hidden="true" on-click="goToMonth" data-next-month="1"></i> </th>
                            </tr>
                            <tr>
                                <template is="dom-repeat" items="{{daysOfWeek}}" as="day">
                                    <th>{{day}}</th>
                                </template>
                            </tr>
                            <template is="dom-repeat" items="{{calendarDays}}" as="week">
                                <tr>
                                    <template is="dom-repeat" items="{{week}}" as="date">
                                        <td class$="day link {{date.class}}" on-click="selectDate" data-date$="{{date.date}}">{{date.day}}</td>
                                    </template>
                                </tr>
                            </template>
                            <tr>
                                <th colspan="7" class="link" on-click="setToday">
                                    hoy
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </template>
    <script>
        class KHN_Datepicker extends KPolymer {
            static get is() { return 'khn-datepicker'; }
            static get properties() {
                return {
                    date:{
                        type:String,
                        notify: true
                    }
                }
            }

            get datepicker(){
                return this.$.datepicker;
            }

            constructor(){
                super();
                this.daysOfWeek = KHN.getShortDaysOfWeek('ES');
                this.months = KHN.getMonths('ES');
            }

            saveOnReturn(e){
                if(e.keyCode === 13){
                    this.hideCalendar();
                    this.onSetDate();
                }
            }

            goToCurrentMonth(){
                if(this.date)
                    this.date = this.date.substring(0,10);
                else
                    this.date = '';
                let d= this.date;
                let year,month;

                if(!d || d==''){
                    d= new Date();
                    year = d.getFullYear();
                    month = d.getMonth()+1;
                }else{
                    let dateParts = this.getDateParts(this.date);
                    year=dateParts.year;
                    month=dateParts.month;
                }

                this.calendarDays = this.getCalendarMonth(year, month);
            }

            setToday(){
                this.setDate(new Date());
            }

            getCalendarMonth(year, month){
                let monthIdx = month-1;

                this.currentCalendarYear = year;
                this.currentCalendarMonth = month;
                this.currentCalendarMonthName = this.months[monthIdx];

                let lastDayOfMonth = new Date(year,monthIdx+1, 0);
                let firstDayOfMonth = new Date(year,monthIdx, 1);
                let firstDayOfCalendarIdx = 2 - firstDayOfMonth.getDay();

                let calendarDays = [];
                let dayIdx;
                let weekDays;
                let endOfMonth=false;
                let weekStart=(firstDayOfMonth.getDay()==0)? 0: 1;

                for(let week=weekStart;week<=6;week++){
                    weekDays=[];
                    for(let dayOfWeek=1; dayOfWeek<=7; dayOfWeek++){
                        dayIdx = firstDayOfCalendarIdx+(((week-1)*7 + dayOfWeek - 1) );
                        let d = new Date(year, monthIdx, dayIdx);

                        let clss = (d.getMonth() === monthIdx)? "current-month": "not-current-month";

                        if(d.toString() == lastDayOfMonth.toString())
                            endOfMonth=true;

                        if(KHN.dateToString(d) == this.date)
                            clss = "current-date";

                        weekDays.push({
                            date: d,
                            class: clss,
                            day: d.getDate()
                        });
                    }
                    calendarDays.push(weekDays);
                    if(endOfMonth)
                        return calendarDays;
                }
            }

            showCalendar(){
                this.goToCurrentMonth();
                this.$.calendar.classList.remove('hidden');
            }

            hideCalendar(){
                this.$.calendar.classList.add('hidden');
            }

            goToYear(e){
                let element = e.target;
                let nextYear = parseInt(element.getAttribute('data-next-year'));
                nextYear = this.currentCalendarYear + nextYear;

                this.calendarDays = this.getCalendarMonth(nextYear, this.currentCalendarMonth);
            }

            goToMonth(e){
                let element = e.target;
                let nextMonth = parseInt(element.getAttribute('data-next-month'));
                nextMonth = this.currentCalendarMonth + nextMonth;

                let nextYear = this.currentCalendarYear;
                if(nextMonth>12){
                    nextYear ++;
                    nextMonth =1;
                }
                if(nextMonth==0){
                    nextYear --;
                    nextMonth =12;
                }

                this.calendarDays = this.getCalendarMonth(nextYear, nextMonth);
            }

            selectDate(e){
                let element = e.target;
                let date = new Date(element.getAttribute('data-date'));
                this.setDate(date);
            }

            setDate(date){
                this.date = KHN.dateToString(date);
                this.hideCalendar();
                this.onSetDate();
            }

            onSetDate(){

            }

            getDateParts(dateStr= this.date){
                let dateParts = dateStr.split("-");
                let year = parseInt(dateParts[0]);
                let month = parseInt(dateParts[1]);
                let day = parseInt(dateParts[2]);
                let monthName = this.months[month-1];

                return {
                    year: year,
                    month: month,
                    day: day,
                    monthIdx: (month-1),
                    monthName: monthName
                }
            }

        }
        window.customElements.define(KHN_Datepicker.is, KHN_Datepicker);
    </script>
</dom-module>