<dom-module id="khn-infobox">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="import" type="css" href="/static/lib/css/ionicons.min.css">
    <link rel="import" type="css" href="/static/lib/font-awesome/css/font-awesome.min.css">

    <template>
        <style>
            .row{
                min-height: 90px;
                margin:0px;
                box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            }
            .col-4{
                color:white;
                font-size: 45px;
                text-align: center;
                padding-top: 20px;
            }
            .title{
                font-weight: bold;
                font-size: 20px;
            }
            .subtitle{
                font-size: 16px;
                margin-bottom: 10px;
                margin-top: 5px;
            }
        </style>
        <div class="row">
            <div class$="col-4 [[classBg]]">
                <i class$="[[classIcon]]"></i>
            </div>
            <div class="col-8">
                <p class="subtitle">[[subtitle]]</p>
                <p class="title">[[title]]</p>
            </div>
        </div>
    </template>
    <script>
        class KHN_Infobox extends KPolymer {
            static get is() { return 'khn-infobox'; }
            static get properties() {
                return {
                    title: String,
                    subtitle: String,
                    background:String,
                    classBg:{
                        type:String,
                        computed: 'getBg(background)'
                    },
                    icon:String,
                    classIcon:{
                        type:String,
                        computed: 'getIcon(icon)'
                    }
                }
            }
        }
        window.customElements.define(KHN_Infobox.is, KHN_Infobox);
    </script>
</dom-module>