<dom-module id="khn-inline-input">
    <link rel="import" type="css" href="/static/css/app.css">
    <link rel="import" type="css" href="/static/lib/css/ionicons.min.css">
    <link rel="import" type="css" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <template>
        <style>
            input.form-control{
                width: 70%;
                float: left;
                font-size: 12px;
                padding: 0px 5px 0px 5px;
            }
        </style>
        <div class="inline-group" id="inline_group" on-dblclick="editInline" >
            <div class="inline-label" id="label">
                <slot name="prefix"></slot>
                <template is="dom-if" if="{{isText()}}">
                    {{myvalue}}
                </template>
                <template is="dom-if" if="{{isDate()}}">
                    {{formatDate(myvalue)}}
                </template>
                <i class="fa fa-pencil show-on-hover"></i>
            </div>
            <div class="inline-input hidden" id="input">

                <template is="dom-if" if="{{isText()}}">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{myvalue::input}}" id="myinput" name="{{myname}}" on-keypress="saveOnReturn">
                        <div class="input-group-addon link" on-click="save">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </template>

                <template is="dom-if" if="{{isDate()}}">
                    <khn-datepicker date="{{myvalue}}" id="datepicker"></khn-datepicker>
                </template>


            </div>
        </div>
    </template>
    <script>
        class KHN_InlineInput extends KPolymer {
            static get is() { return 'khn-inline-input'; }

            static get properties() {
                return {
                    myvalue: {
                        type: String,
                        notify: true
                    },
                    myurl: String,
                    myname: String,
                    mytype: {
                        type: String,
                        value: 'text'
                    },
                    myformattedvalue:{
                        type: String,
                        computed: 'getValue()'
                    }
                }
            }

            isText(){
                return this.isType('text');
            }

            isDate(){
                return this.isType('date');
            }

            isType(type){
                if(this.mytype == type)
                    return true;
                return false;
            }

            getValue(){
                return this.myvalue;
            }

            editInline(e){
                let labelDiv = this.$.label;
                let inputDiv = this.$.input;
                let input = inputDiv.querySelector("input");

                labelDiv.classList.add('hidden');
                inputDiv.classList.remove('hidden');

                if(input)
                    input.focus();

                if(this.mytype=="date"){
                    let datepicker = inputDiv.querySelector('khn-datepicker');
                    let self = this;
                    datepicker.onSetDate = function(){
                        self.save();
                    }
                    datepicker.datepicker.focus();
                    datepicker.showCalendar();
                }
            }

            saveOnReturn(e){
                if(e.keyCode === 13){
                    this.save();
                }
            }

            save(){
                let labelDiv = this.$.label;
                let inputDiv = this.$.input;

                this.saveAttr();

                labelDiv.classList.remove('hidden');
                inputDiv.classList.add('hidden');
            }

            saveAttr(){
                let url = this.myurl;
                let data = {};
                data[this.myname] = this.myvalue;
                KHN.post( url , data, (response)=>{});
            }
        }
        window.customElements.define(KHN_InlineInput.is, KHN_InlineInput);
    </script>
</dom-module>