<dom-module id="khn-menu-item">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <template>
        <style>
            .row{
                margin-bottom: 5px;
                cursor: pointer;
            }
            .last-row{
                padding-top: 10px;
            }
        </style>
        <div class="container col-12">
            <div class="row">
                <div class="col-4">
                    Title
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="title" value="{{item.title::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    OnClick
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="onclick" value="{{item.onclick::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Description
                </div>
                <div class="col-8">
                    <textarea name="description" class="form-control" value="{{item.description::input}}"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Access level
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="access_level" value="{{item.access_level::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Position
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="position" value="{{item.position::input}}">
                </div>
            </div>
            <div class="row last-row">
                <div class="col text-right">
                    <button class="btn btn-primary" on-click="saveItem">Save</button>
                </div>
            </div>
        </div>
    </template>
    <script>
        class KHN_MenuItem extends KPolymer {
            static get is() { return 'khn-menu-item'; }

            static get properties() {
                return {
                    item: Object
                }
            }

            saveItem(e){
                console.log(this.item)
            }
        }
        window.customElements.define(KHN_MenuItem.is, KHN_MenuItem);
    </script>
</dom-module>