<dom-module id="khn-menu">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="import" type="css" href="/static/lib/css/ionicons.min.css">
    <link rel="import" type="css" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <template>
        <style>
            .item{
                font-weight: bold;
            }
            .subitem{
                margin-left: 50px;
                cursor: pointer;
            }
            .row{
                margin-bottom: 20px;
                cursor: pointer;
            }
            .fa{
                margin-left: 10px;
            }
            .subitem{
                padding-top: 10px;
            }

        </style>
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center">
                    <button class="btn btn-light" on-click="fetchData">Refresh</button>
                    <button class="btn btn-primary" on-click="addItem">Add Menu Item</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <ul class="list-group">
                        <template is="dom-repeat" items="{{items}}" as="item">
                        <li class="list-group-item">
                            <div class="item" >
                                [[item.title]]
                                <div style="float: right">
                                    <i class="fa fa-plus-square" aria-hidden="true" on-click="addChildItem" data-id$="{{item.id}}"></i>
                                    <i class="fa fa-pencil" aria-hidden="true" on-click="editItem" data-id$="{{item.id}}"></i>
                                    <i class="fa fa-trash" aria-hidden="true" on-click="deleteItem" data-id$="{{item.id}}"></i>
                                </div>
                            </div>
                            <template is="dom-repeat" items="{{item.subitems}}" as="subitem">
                                <div class="subitem">
                                    {{subitem.title}}
                                    <div style="float: right">
                                        <i class="fa fa-pencil" aria-hidden="true" on-click="editItem" data-id$="{{subitem.id}}"></i>
                                        <i class="fa fa-trash" aria-hidden="true" on-click="deleteItem" data-id$="{{subitem.id}}"></i>
                                    </div>
                                </div>
                            </template>
                        </li>
                        </template>
                    </ul>
                </div>
            </div>
            <khn-modal id="menu_item" width="500px">
                <div slot="content">
                    <khn-menu-item id="item_form"></khn-menu-item>
                </div>
            </khn-modal>
        </div>
    </template>
    <script>
        class KHN_Menu extends KPolymer {
            static get is() { return 'khn-menu'; }

            ready(){
                super.ready();
                this.fetchData();

                let self=this;
                this.$.item_form.saveItem = function(e){
                    let item = this.item;
                    let url = KHN.apiUrl+"/menu/"+item.id;

                    KHN.post( url , item, (response)=>{
                        console.log(response);
                        this.item.id = response.item.id;
                        self.fetchData();
                    });
                }
            }

            fetchData(){
                let url = KHN.apiUrl+"/menu/";
                KHN.get( url , (response)=>{
                    console.log(response.items);
                    this.items = response.items;
                });
            }

            getDetaultItem(){
                return {
                    title:'',
                    onclick:'',
                    description:'',
                    position:100,
                    parent_id:0,
                    access_level:'admin',
                    id:0
                };
            }

            editItem(e){
                let id = JSON.parse(e.target.getAttribute('data-id'));
                let url = KHN.apiUrl+"/menu/"+id;
                KHN.get( url , (response)=>{
                    console.log(response);
                    this.$.item_form.item = response.item;
                    this.$.menu_item.title = 'Edit Menu Item';
                    this.$.menu_item.show();
                });
            }

            deleteItem(e){
                let id = JSON.parse(e.target.getAttribute('data-id'));
                let url = KHN.apiUrl+"/menu/"+id;
                if (confirm("Do you want to DELETE this item?"))
                {
                    KHN.delete( url , (response)=>{
                        console.log(response);
                        this.fetchData();
                    });
                }
            }

            addItem(e){
                this.$.item_form.item = this.getDetaultItem();
                this.$.menu_item.title = 'Add Menu Item';
                this.$.menu_item.show();
            }

            addChildItem(e){
                let id = JSON.parse(e.target.getAttribute('data-id'));
                let item = this.getDetaultItem();
                item.parent_id = id;
                this.$.item_form.item = item;
                this.$.menu_item.title = 'Add Child Menu Item';
                this.$.menu_item.show();
            }
        }
        window.customElements.define(KHN_Menu.is, KHN_Menu);
    </script>
</dom-module>