<dom-module id="khn-modal">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <template>
        <style>
            .khn-modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1000; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                -webkit-animation-name: fadein;
                -webkit-animation-duration: 0.4s;
                animation-name: fadein;
                animation-duration: 0.4s
            }
            /* Modal Content */
            .khn-modal-content {
                position: relative;
                background-color: #fefefe;
                margin: auto;
                padding: 0;
                border: 1px solid #888;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                -webkit-animation-name: fadein;
                -webkit-animation-duration: 0.4s;
                animation-name: fadein;
                animation-duration: 0.4s
            }

            .khn-modal-dialog{
                margin: 60px;
            }

            /* The Close Button */
            .close {
                float: right;
                top:10px;
                right:10px;
                font-size: 28px;
                font-weight: bold;
            }
            .close:hover,
            .close:focus {
                text-decoration: none;
                cursor: pointer;
            }

            /* Add Animation */
            @-webkit-keyframes fadein {
                from {opacity:0}
                to {opacity:1}
            }

            @keyframes fadein {
                from {opacity:0}
                to {opacity:1}
            }

            /* Custom CSS */
            #body{
                padding: 15px;
            }

            #btn_save{
                float:right;
            }

            #btn_close{
                float:right;
                margin-right: 10px;
            }

            .footer{
                padding-top: 15px;
            }

            h3 {
                margin-bottom: 0px;
            }
        </style>
        <div class="khn-modal" id="modal">
            <div class="khn-modal-dialog">
                <div class="card border-light khn-modal-content"  style$="width:[[width]];">
                    <div class="card-header">
                        <span class="close" id="close_x">&times;</span>
                        <h3 id="title" inner-h-t-m-l="{{title}}"></h3>
                    </div>
                    <div class="card-body" id="body">
                        <slot name="content"></slot>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        class KHN_Modal extends KPolymer {
            static get is() { return 'khn-modal'; }

            static get properties() {
                return {
                    title: String,
                    width: String
                }
            }

            ready(){
                super.ready();
                this.$.close_x.onclick = () => { this.hide() };
            }

            show(title=null){
                if(title)
                    this.title = title;
                document.querySelector('body').classList.add('modal-open');
                this.$.modal.style.display = "block";
            }
            hide(){
                this.$.modal.style.display = "none";
                document.querySelector('body').classList.remove('modal-open');
            }

            close(){
                this.hide();
            }
        }
        window.customElements.define(KHN_Modal.is, KHN_Modal);
    </script>
</dom-module>