<dom-module id="khn-navbar">
    <link rel="import" type="css" href="/static/lib/css/ionicons.min.css">
    <link rel="import" type="css" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <template>
        <style>
            .navbar{
                background-color: #007bff!important;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 1030;
                padding-left: 20px;
                padding-right: 20px;
                color:white;
                max-height: 50px;
                height: 50px;
            }
            .navbar-ham{
                float: left;
                margin-right: 5px;
                font-size: 25px;
            }
            .link{
                cursor: pointer;
            }
            .navitems{
                margin-top:5px;
            }
            i{
                color: #FFF;
            }
            a {
                text-decoration: none;
                color:white;
            }
        </style>
        <div class="navbar">
            <div class="navitems">
                <div class="navbar-ham">
                    <i class="fa fa-bars link" aria-hidden="true" onclick="toggleSideNav()"></i>
                    <a href="/">{{appName}}</a>
                </div>
                <div>
                </div>
                <div style="float:right;top: 5x; right: 20px; position: absolute;font-size: 25px">
                    {{currentUser}}
                    <a href="/logout"><i class="fa fa-sign-out link" aria-hidden="true"></i></a>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </template>
    <script>
        class KHN_Navbar extends KPolymer {
            static get is() { return 'khn-navbar'; }

            static get properties() {
                return {
                }
            }

            constructor(){
                super();
                KHN.get(KHN.apiUrl+"/parameter", (response)=> {
                    this.currentUser = response.current_user;
                    this.appName = response.app_name;
                });
            }

        }
        window.customElements.define(KHN_Navbar.is, KHN_Navbar);
    </script>
</dom-module>