<dom-module id="khn-parameter-item">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <template>
        <style>
            .row{
                margin-bottom: 5px;
                cursor: pointer;
            }
            .last-row{
                padding-top: 10px;
            }
        </style>
        <div class="container col-12">
            <div class="row">
                <div class="col-4">
                    Name
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="name" value="{{item.name::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Value
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="value" value="{{item.value::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Description
                </div>
                <div class="col-8">
                    <textarea name="description" class="form-control" value="{{item.description::input}}"></textarea>
                </div>
            </div>
            <div class="row last-row">
                <div class="col text-right">
                    <button class="btn btn-primary" on-click="saveItem">Save</button>
                </div>
            </div>
        </div>
    </template>
    <script>
        class KHN_ParameterItem extends KPolymer {
            static get is() { return 'khn-parameter-item'; }

            static get properties() {
                return {
                    item: Object
                }
            }

            saveItem(e){
                console.log(this.item)
            }
        }
        window.customElements.define(KHN_ParameterItem.is, KHN_ParameterItem);
    </script>
</dom-module>