<dom-module id="khn-parameters">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="import" type="css" href="/static/lib/css/ionicons.min.css">
    <link rel="import" type="css" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <template>
        <style>

            .row{
                margin-bottom: 20px;
            }

            .fa{
                margin-right: 10px;
                cursor: pointer;
            }

        </style>
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center">
                    <button class="btn btn-light" on-click="fetchData">Refresh</button>
                    <button class="btn btn-primary" on-click="addItem">Add Parameter</button>
                </div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <table class="table">
                        <tr>
                            <th width="200">Name</th>
                            <th>Value</th>
                            <th width="200">Actions</th>
                        </tr>

                        <template is="dom-repeat" items="{{items}}" as="item">
                            <tr>
                                <td>[[item.name]]</td>
                                <td>[[item.value]]</td>
                                <td>
                                    <i class="fa fa-pencil" aria-hidden="true" on-click="editItem" data-id$="{{item.id}}"></i>
                                    <i class="fa fa-trash" aria-hidden="true" on-click="deleteItem" data-id$="{{item.id}}"></i>
                                </td>
                            </tr>
                        </template>
                    </table>
                </div>
                <div class="col"></div>
            </div>




            <khn-modal id="modal" width="500px">
                <div slot="content">
                    <khn-parameter-item id="form"></khn-parameter-item>
                </div>
            </khn-modal>
        </div>
    </template>
    <script>
        class KHN_Parameter extends KPolymer {
            static get is() { return 'khn-parameters'; }

            ready(){
                super.ready();
                this.fetchData();

                let self=this;
                this.$.form.saveItem = function(e){
                    let item = this.item;
                    let url = KHN.apiUrl+"/parameter/"+item.id;

                    KHN.post( url , item, (response)=>{
                        console.log(response);
                        this.item.id = response.item.id;
                        self.fetchData();
                    });
                }
            }

            fetchData(){
                let url = KHN.apiUrl+"/parameter/";
                KHN.get( url , (response)=>{
                    console.log(response.items);
                    this.items = response.items;
                });
            }

            getDetaultItem(){
                return {
                    name:'',
                    value:'',
                    id:0
                };
            }

            editItem(e){
                let id = JSON.parse(e.target.getAttribute('data-id'));
                let url = KHN.apiUrl+"/parameter/"+id;
                KHN.get( url , (response)=>{
                    console.log(response);
                    this.$.form.item = response.item;
                    this.$.modal.title = 'Edit Parameter';
                    this.$.modal.show();
                });
            }

            deleteItem(e){
                let id = JSON.parse(e.target.getAttribute('data-id'));
                let url = KHN.apiUrl+"/parameter/"+id;
                if (confirm("Do you want to DELETE this parameter?"))
                {
                    KHN.delete( url , (response)=>{
                        console.log(response);
                        this.fetchData();
                    });
                }
            }

            addItem(e){
                this.$.form.item = this.getDetaultItem();
                this.$.modal.title = 'Add Parameter Item';
                this.$.modal.show();
            }

            addChildItem(e){
                let id = JSON.parse(e.target.getAttribute('data-id'));
                let item = this.getDetaultItem();
                item.parent_id = id;
                this.$.form.item = item;
                this.$.modal.title = 'Add Child Parameter Item';
                this.$.modal.show();
            }
        }
        window.customElements.define(KHN_Parameter.is, KHN_Parameter);
    </script>
</dom-module>