<dom-module id="khn-sidebar">
    <template>
        <style>
            .sidebar{
                padding-top: 10px;
            }
            ul {
                list-style: none; /* Remove list bullets */
                padding: 0;
                margin: 0;
            }
            li {
                padding-left: 15px;
            }
            .subitem-ul{
                background-color: #2c3b41;
            }
            .subitem-ul li {
                padding-left: 30px;
                height: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                cursor: pointer;
                font-size: 12px;
            }
            .subitem-li:hover{
                background-color: #1a2226;
            }
        </style>

        <div class="sidebar">
            <ul class="item-ul">
                <template is="dom-repeat" items="{{items}}" as="item" filter="hasTitle" observe="item">
                    <li>[[item.title]]</li>
                    <template is="dom-if" if="{{item.subitems.length}}">
                        <ul class="subitem-ul">
                            <template is="dom-repeat" items="{{item.subitems}}" as="subitem" filter="hasTitle" observe="subitem">
                                <li class="subitem-li" onclick$="[[subitem.onclick]]">
                                    [[subitem.title]]
                                </li>
                            </template>
                        </ul>
                    </template>
                </template>
            </ul>
        </div>
    </template>
    <script>
        class KHN_Sidebar extends KPolymer {
            static get is() { return 'khn-sidebar'; }
            constructor(){
                super();
                this.items=[];
            }

            hasTitle(item){
                if(item.title.trim().length>0)
                    return true;
                return false;
            }
        }
        window.customElements.define(KHN_Sidebar.is, KHN_Sidebar);
    </script>
</dom-module>