<dom-module id="khn-table">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="import" type="css" href="/static/lib/css/ionicons.min.css">
    <link rel="import" type="css" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <template>
        <style>
            i {
                cursor: pointer;
                margin-left: 5px;
            }
            .table{
                font-family: Arial;
                margin-bottom: 0;
            }
            .table td{
                font-size: var(--table-td-font-size, 12px);
                padding: 5px;
            }
            .table th{
                background-color:  var(--table-th-background-color, #414243);
                color: #FFFFFF;
                font-size: var(--table-th-font-size, 13px);
                font-weight: 100;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                border:0px;
            }

            .table thead th:first-of-type{
                border-top-left-radius: var(--table-border-radius, 0px);
            }
            .table thead th:last-of-type{
                border-top-right-radius: var(--table-border-radius, 0px);
            }

            .table tfoot td:first-of-type{
                border-bottom-left-radius: var(--table-border-radius, 0px);
            }
            .table tfoot td:last-of-type{
                border-bottom-right-radius: var(--table-border-radius, 0px);
            }

            #pagination{
            }

            a.btn-page{
                font-size: 12px;
                min-width: 1.5em;
                text-align: center;
                margin-left: 2px;
                padding: 0.5em 1em;
                border:0px;
                cursor: pointer;
                border-radius: 3px;
                font-weight: bold;
            }

            a.btn-page:not([href]):not([tabindex]):hover{
                color:white;
                background-color: #000000;
            }

            a.current-page{
                border: 1px solid #979797;
                background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
            }

            a.current-page:not([href]):not([tabindex]):hover{
                color:#000000;
            }

            .link{
                cursor: pointer;
            }

            .sort-by{
                font-size: 10px;
            }
            .sort-by.active{
                color: blue;
            }

        </style>
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <template is="dom-repeat" items="{{datatable.columns}}" as="col">
                    <th>
                        <div style$="width:[[col.width]];" on-click="sortData" data-trigger$="[[col.name]]" class="link">
                            [[col.label]]
                            <span class="sort-by asc">&#9650;</span><span class="sort-by desc">&#9660;</span>
                        </div>
                    </th>
                    </template>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{currentDataPage}}" as="row">
                <tr>
                    <template is="dom-repeat" items="{{datatable.columns}}" as="col">
                        <td style$="text-align:[[getAlign(col)]]">
                            <div style$="width:[[col.width]]; ">

                                <template is="dom-if" if="{{col.html}}">
                                    <div inner-h-t-m-l="{{getHtml(row, col)}}"></div>
                                </template>
                                <template is="dom-if" if="{{!col.html}}">
                                    [[formatValue(row, col)]]
                                </template>

                                <span>
                                    <template is="dom-repeat" items="{{col.actions}}" as="action">
                                        <i class$="[[action.icon]]" aria-hidden="true" on-click="_onClick" data-row$="[[row]]" data-trigger$="[[action.name]]"></i>
                                    </template>
                                </span>

                            </div>
                        </td>
                    </template>
                </tr>
                </template>

                <!--
                <template is="dom-if" if="{{!datatable.data.length}}">
                    <tr>
                        <td colspan$="[[datatable.columns.length]]" style="background-color: #FFFFFF;position: relative">
                            [[msgEmptyData]]
                        </td>
                    </tr>
                </template>
                -->
            </tbody>
            <tfoot>
                <tr id="pagination">

                    <td colspan$="[[datatable.columns.length]]" style="position: relative">
                        <div style="height: 40px;">
                            <div style="float:left; position:absolute; top:15px;left:20px;" id="footerNote">
                            </div>


                            <template is="dom-if" if="{{pagination}}">
                                <div style="float:left; position:absolute; top:15px; right: 0px;right:20px;">
                                    <a class="btn-page" on-click="goTo" data-page="previous">Anterior</a>
                                    <template is="dom-repeat" items="{{pages}}" as="page">
                                        <a class="btn-page" on-click="goTo" data-page$="{{page}}">{{page}}</a>
                                    </template>
                                    <a class="btn-page" on-click="goTo" data-page="next">Siguiente</a>
                                </div>
                                <div style="clear: both"></div>
                            </template>
                        </div>
                    </td>

                </tr>
            </tfoot>
        </table>
    </template>
    <script>
        class KHN_Table extends KPolymer {
            static get is() { return 'khn-table'; }
            constructor(){
                super();
                this.resetDatatable();
                this.pagination = false;
                this.currentPage=1;
                this.pageSize=99999;
                this.defaultPageSize = 99999;
                this.pages = []
                this.currentDataPage=[];
                this.msgEmptyData = "0 records to show";
                this.sortBy = '';
                this.sortType = 'ASC';
                this.lang="ES";
                this.footSuffix = "";
            }

            static get properties() {
                return {
                    currentRow:Object,
                    trigger:String,
                    lang:String
                }
            }

            getFooterNote(){
                let note={}, end, lang=this.lang.toUpperCase();
                if (this.numberOfRows == 0){
                    note["EN"] = "No records found.";
                    note["ES"] = "No se han encontrado registros.";
                    note["CAT"] = "No s'han trobat registres.";
                }else {
                    end = (this.end > this.numberOfRows)? this.numberOfRows: this.end;
                    note["EN"]  = "Showing " + this.getStartIdx(this.start) + " to " + end + " of " + this.numberOfRows + " records.";
                    note["ES"]  = "Mostrando " + this.getStartIdx(this.start) + " al " + end + " de " + this.numberOfRows + " registros.";
                    note["CAT"] = "Mostrant " + this.getStartIdx(this.start) + " al " + end + " de " + this.numberOfRows + " registres.";
                }

                note[lang]+= this.footSuffix;

                return note[lang];
            }

            resetDatatable(){
                this.datatable={
                    data:[],
                    columns:[]
                };
                this.currentDataPage =[];
                this.numberOfRows = 0;
                this.numberOfPages = 0;
                this.pages = [];
            }

            getHtml(row, col){
                return row[col.name]
            }

            getStartIdx(idx){
                return idx+1;
            }

            resetFooter(){
                this.$.footerNote.innerHTML = "";
                this.pagination = false;
            }

            setDatatable(datatable){
                this.resetDatatable();
                this.datatable = datatable;
                this.numberOfRows = datatable.data.length;

                this.checkPagination();

                this.numberOfPages = Math.ceil(this.numberOfRows/this.pageSize);
                this.pages = [];
                for(let i = 1; i<=this.numberOfPages;i++)
                    this.pages[i-1]=i;

                this.goToPage(1);
            }

            setPageSize(pageSize){
                this.pageSize = pageSize;
            }

            checkPagination(){
                if(this.numberOfRows <= this.pageSize) {
                    this.pagination = false;
                }else{
                    this.pagination = true;
                }
            }

            goToPage(pageNumber=null){
                pageNumber = (pageNumber)?pageNumber:this.currentPage;

                if(pageNumber >=1 && pageNumber<= this.numberOfPages) {
                    let btns = this.$.pagination.querySelectorAll("a");
                    let currentBtn = this.$.pagination.querySelector("[data-page='"+pageNumber+"']");

                    btns.forEach(btn=>{
                        btn.classList.remove('current-page');
                    });

                    if(currentBtn)
                        currentBtn.classList.add('current-page');

                    this.start = (pageNumber - 1) * this.pageSize;
                    this.end = (pageNumber) * this.pageSize;
                    this.currentDataPage = this.datatable.data.slice(this.start, this.end);
                    this.currentPage = pageNumber;
                }

                this.$.footerNote.innerHTML = this.getFooterNote();
            }

            goTo(e){
                let trigger = e.target.getAttribute('data-page');

                switch(trigger){
                    case "first":
                        this.goToPage(1);
                        break;
                    case "previous":
                        this.goToPage(this.currentPage-1);
                        break;
                    case "next":
                        this.goToPage(this.currentPage+1);
                        break;
                    case "last":
                        this.goToPage(this.numberOfPages);
                        break;
                    default:
                        if(!isNaN(parseInt(trigger))){
                            this.goToPage(parseInt(trigger));
                        }
                        break;
                }
            }

            formatValue(row, col){
                return KHN.formatValue(row[col.name], col);
            }

            getAlign(col){
                let align = 'left';
                if(['decimal','money', 'int'].includes(col.formatter))
                    align = 'right';

                if(col.align)
                    align = col.align;

                return align;
            }

            sortData(e){
                let element = e.target;
                if(element.tagName.toLowerCase()=="span")
                    element = e.target.parentElement;

                let data = this.datatable.data;
                let trigger = element.getAttribute('data-trigger');

                // Si se ordena por una columna el sortType es ASC
                if (trigger == this.sortBy)
                    this.sortType = (this.sortType=="ASC")?"DESC":"ASC";
                else {
                    this.sortBy = trigger;
                    this.sortType = "ASC";
                }

                this.$.table.querySelectorAll(".sort-by").forEach(col=>{
                    col.classList.remove("active");
                });

                if(this.sortType=="ASC"){
                    element.querySelector(".asc").classList.add("active");
                }else{
                    element.querySelector(".desc").classList.add("active");
                }

                let sortBy = this.sortBy;
                let sortType = this.sortType;
                data.sort(function(a,b){
                    let propA, propB, direction;

                    if(typeof a[sortBy] == "number" || !isNaN(a[sortBy])){
                        propA = parseFloat(a[sortBy]);
                        propB = parseFloat(b[sortBy]);
                    }else if(typeof a[sortBy] ==="undefined"){
                        return 0
                    }else{
                        propA = a[sortBy].toLowerCase();
                        propB = b[sortBy].toLowerCase();
                    }

                    direction = (sortType=="ASC")?1:-1;

                    if(propA < propB)
                        return -1*direction;
                    if(propB < propA)
                        return 1*direction;
                    return 0;
                });

                this.goToPage();
            }

            _onClick(e){
                let trigger = e.target.getAttribute('data-trigger');
                let row = JSON.parse(e.target.getAttribute('data-row'));

                this.onClick(trigger, row);
            }

            onClick(trigger, row){

            }

            formatImgSrc(row, col){
                let html = row[col.name];
                let src = "";
                if(html.includes('src'))
                    src = html.split('src="')[1].split('"')[0];
                return src
            }

            formatImgWidth(row, col){
                let html = row[col.name];
                let width = 24;
                if(html.includes('width'))
                    width = html.split('width="')[1].split('"')[0];

                return width;
            }
        }
        window.customElements.define(KHN_Table.is, KHN_Table);
    </script>
</dom-module>