<dom-module id="khn-tabs">
    <link rel="import" type="css" href="/static/lib/css/ionicons.min.css">
    <link rel="import" type="css" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <template>
        <style>
            .tabs{
                border-radius: var(--border-radius, 0px);
                border: 1px solid #ccc!important;
                background-color: #FFFFFF;
            }
            .tabs-header{
                padding: 0;
                background-color: #B3B4B5;
                border-top-left-radius: var(--border-radius, 0px);
                border-top-right-radius: var(--border-radius, 0px);
            }
            .tabs-sections{
                padding: 0px;
            }
            .tabs-header div:first-child{
                border-top-left-radius: var(--border-radius, 0px);
            }
            .tab{
                float: left;
                padding: 10px;
                font-weight: 300;
                cursor: pointer;
                color: #FFFFFF;
            }

            .tab.active{
                background-color: #1a2226;
                color: white;
            }
        </style>
        <div class="tabs" id="container">
            <div class="tabs-header">
                <div id="tabs"></div>
                <div style="float: right; margin-top: 12px; margin-right: 20px">
                    <slot name="actions"></slot>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="tabs-sections">
                <slot name="tabs" id="sections"></slot>
            </div>
        </div>
    </template>
    <script>
        class KHN_Tabs extends KPolymer {
            static get is() { return 'khn-tabs'; }

            static get properties() {
                return {
                }
            }

            ready(){
                super.ready();
                let sections = this.$.sections.assignedNodes();

                let sectionIdx = 0;
                sections.forEach(section=>{
                    let tabTrigger = document.createElement('div');
                    let title = section.getAttribute('title');
                    tabTrigger.innerHTML = title;
                    tabTrigger.classList.add('tab', 'link');
                    tabTrigger.setAttribute('data-section', title);
                    tabTrigger.addEventListener('click', (e)=>{
                        this.showTab(e);
                    });
                    if(sectionIdx==0) {
                        tabTrigger.classList.add('active');
                    }else
                        section.classList.add('hidden');
                    this.$.tabs.appendChild(tabTrigger);
                    sectionIdx++;
                });
            }

            showTab(e){
                let targetSection = e.target.getAttribute('data-section');

                let sections = this.$.sections.assignedNodes();
                sections.forEach(section=> {
                    if (targetSection == section.getAttribute('title'))
                        section.classList.remove('hidden');
                    else
                        section.classList.add('hidden');
                });

                let tabs = this.$.tabs.querySelectorAll('.tab');
                tabs.forEach(tab=>{
                    if (targetSection == tab.getAttribute('data-section'))
                        tab.classList.add('active');
                    else
                        tab.classList.remove('active');
                });
            }
        }
        window.customElements.define(KHN_Tabs.is, KHN_Tabs);
    </script>
</dom-module>