<dom-module id="khn-users-user">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <template>
        <style>
            .row{
                margin-bottom: 5px;
                cursor: pointer;
            }
            .last-row{
                padding-top: 10px;
            }
        </style>
        <div class="container col-12">
            <div class="row">
                <div class="col-4">
                    Username
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="username" value="{{user.username::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Firstname
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="first_name" value="{{user.first_name::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Lastname
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="last_name" value="{{user.last_name::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Email
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="email" value="{{user.email::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Status
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="status" value="{{user.status::input}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Password
                </div>
                <div class="col-8">
                    <input type="password" class="form-control" name="password" value="{{user.password::input}}">
                </div>
            </div>
            <div class="row last-row">
                <div class="col text-right">
                    <button class="btn btn-primary" on-click="saveUser">Save</button>
                </div>
            </div>

        </div>
    </template>
    <script>
        class KHN_UserForm extends KPolymer {
            static get is() { return 'khn-users-user'; }

            static get properties() {
                return {
                    user: Object
                }
            }

            saveUser(e){
                console.log(this.user)
            }
        }
        window.customElements.define(KHN_UserForm.is, KHN_UserForm);
    </script>
</dom-module>