<dom-module id="khn-users">
    <link rel="import" type="css" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="import" type="css" href="/static/lib/css/ionicons.min.css">
    <link rel="import" type="css" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <template>
        <style>

            .row{
                margin-bottom: 20px;
            }

            .fa{
                margin-right: 10px;
                cursor: pointer;
            }



        </style>
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center">
                    <button class="btn btn-primary" on-click="addUser">Add User</button>
                </div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <table class="table">
                        <tr>
                            <th width="200">Username</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th width="200" class="text-center">Actions</th>
                        </tr>

                        <template is="dom-repeat" items="{{users}}" as="user">
                            <tr>
                                <td>[[user.username]]</td>
                                <td>[[user.first_name]]</td>
                                <td>[[user.last_name]]</td>
                                <td>[[user.email]]</td>
                                <td class="text-center">[[user.status]]</td>
                                <td class="text-center">
                                    <i class="fa fa-pencil" aria-hidden="true" on-click="editUser" data-id$="{{user.id}}"></i>
                                    <i class="fa fa-trash" aria-hidden="true" on-click="deleteUser" data-id$="{{user.id}}"></i>
                                </td>
                            </tr>
                        </template>
                    </table>
                </div>
                <div class="col"></div>
            </div>

            <div class="row" id="serverMsg"></div>


            <khn-modal id="modal" width="500px">
                <div slot="content">
                    <khn-users-user id="form"></khn-users-user>
                </div>
            </khn-modal>
        </div>
    </template>
    <script>
        class KHN_User extends KPolymer {
            static get is() { return 'khn-users'; }

            constructor(){
                super();
                this.apiUrl = KHN.apiUrl+"/user/";
            }

            ready(){
                super.ready();
                this.fetchData();


                let self=this;
                this.$.form.saveUser = function(e){
                    let user = this.user;
                    let url = self.apiUrl+user.id;

                    KHN.post( url , user, (response)=>{
                        console.log(response);
                        this.user.id = response.user.id;
                        self.fetchData();
                    });
                }

            }

            fetchData(){
                let url = this.apiUrl;
                KHN.get( url , (response)=>{
                    console.log(response.users);
                    this.users = response.users;
                });
            }

            getDetaultItem(){
                return {
                    username:'',
                    first_name:'',
                    last_name:'',
                    email:'',
                    status:1,
                    password: '',
                    id:0
                };
            }

            addUser(e){
                this.$.form.user = this.getDetaultItem();
                this.$.modal.title = 'Add User';
                this.$.modal.show();
            }

            editUser(e){
                let id = JSON.parse(e.target.getAttribute('data-id'));
                let url = this.apiUrl+id;
                KHN.get( url , (response)=>{
                    console.log(response);
                    this.$.form.user = response.user;
                    this.$.modal.title = 'Edit User';
                    this.$.modal.show();
                });
            }

            deleteUser(e){
                let id = JSON.parse(e.target.getAttribute('data-id'));
                let url = this.apiUrl+id;
                if (confirm("Please confirm you want to DELETE this User?"))
                {
                    KHN.delete( url , (response)=>{
                        console.log(response);
                        this.fetchData();
                    });
                }
            }
        }
        window.customElements.define(KHN_User.is, KHN_User);
    </script>
</dom-module>